# DS4200 Homework 1

Due: Friday Sep 20th @ 11:59 PM EST

### Submission Instructions
Submit this `ipynb` file included with the coding results to Gradescope (this can also be done via the assignment on Canvas).  To ensure that your submitted files represent your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the files to gradescope.

### Tips for success
- Start early
- Make use of Piazza
- Make use of Office hour
- Remember to use cells and headings to make the notebook easy to read (if a grader cannot find the answer to a problem, you will receive no points for it)
- Under no circumstances may one student view or share their ungraded homework or quiz with another student [(see also)](http://www.northeastern.edu/osccr/academic-integrity), though you are welcome to **talk about** (not show each other) the problems.

### Part 1 - Good or bad (30 points)

For the following figures extracted from online sources. Write 2 or 3 sentences for each to argue whether it is a good or bad example of visualization. If it is a bad example, which design rules of thumbs or graphical integrity it may violated (if any) and how to re-design into a better one. 

##### Question 1 (6 pts)

The figure shows the numbers of female and male passengers on the Titanic traveling in 1st, 2nd, and 3rd class, shown as a 3D stacked bar plot. 

<div style="text-align: center;">
<img src="https://i.ibb.co/njznJtt/hw1-1.png" alt="hw1-1" border="0" width = 300>
</div>

##### Question 2 (6 pts)

The figure shows the dollars of billions in sales for large fast food company. It also tries to compare the sales number with the GDP of Afghanistan in the same year. 

<div style="text-align: center;">
<img src="https://i.ibb.co/fSthBTJ/hw1-2.jpg" alt="hw1-2" border="0" border="0" width = 400>
</div>

##### Question 3 (6 pts)

The figure is about the change of race proportions in the US from 1960 to 2060(estimated). 

<div style="text-align: center;">
<img src="https://i.ibb.co/5hf0hV6/hw1-3.png" alt="hw1-3" border="0" width = 300>
</div>

##### Question 4 (6 pts)

This figure shows the company's 2019 sale by regions and categories of the products. The color indicates for different regions. 

<div style="text-align: center;">
<img src="https://i.ibb.co/tJKX7Mt/hw1-4.png" alt="hw1-4" border="0" width = 400>
</div>

##### Question 5 (6 pts)

<div style="text-align: center;">
<img src="https://i.ibb.co/7CSkGx4/hw1-5.png" alt="hw1-5" border="0" width = 300>
</div>

### Part 2 - Summary on the data visualization choices (20 points)

In the lecture, we have briefly decribed our potential choices for different types of attributes. To simplify the question, we only consider following cases:
- one continous attribute
- one categorical attribute
- two continous attributes
- two categorical attributes
- one continous attribute and one categorical attribute

On a paper, draw a picture (can be a flow chart, venn diagram, or anything you feel suitable) to visualize our potential choices (histogram, bar plot etc.) for these five cases.

### Part 3 - Basic data visualization with Python (50 points)

Here is a dataset of Seattle weather in 4 years. Load the data and generate corresponding data visualizations. Make sure each figure has title, labels and legends if necessary. Add one or two sentences in each figure to talk about what you have learned from the figure.

In [1]:
from vega_datasets import data

weather = data.seattle_weather()
weather.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

##### Question 1 (10 pts)

Generate a data visualization to show the relationship between precipitation and max temperature.

##### Question 2 (10 pts)

Generate a data visualization to show the relationship between max temperature and weather type.

##### Question 3 (10 pts)

Generate a data visualization to show the relationship between max temperature and min temperature, and then show different color for differnet weather type.

##### Question 4 (10 pts) 

Generate a data visualization to show the relationship between max temperature, min temperature and wind speed.

##### Question 5 (10 pts)

Calculate the average temperature for each day (average on min and max). Plot the average temperature with the date.